#hero-section{
    background-image: $heroSection-background;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.hero-section-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-title{
    
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* typing animation align to left */

.hero-title h1 {
    font-size: 7rem;
}


.hero-title h2{
    font-size: 4rem;
    text-shadow: 0 0 10px white;
    max-width: 90vw;

}

.hero-title h4{
    font-size: 1.8rem;
    max-width: 85vw;
}

.title-buttons > button, .title-buttons a{
    max-width: 40%;
    margin: 2.5% 5%;
    text-shadow: 0 0 20px white;
   
}


/* mobile */

@media screen and (max-width: 970px) {
    .hero-title{
     h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 6vw;
        text-shadow: 0 0 5px white;
    }

    h4 {
        font-size: 4vw;
    }
    }
    
}