#hero-section{
    background-color: $heroSection-background;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}
.bg-image{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: left;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.second-img{
    height: 100%;
    width: 50%;
    position: absolute;
    object-fit: cover;
    // object-position: left;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 
   
    @include media-max("lg"){
    opacity: 0.5!important;
    }
}

.hero-section-container{
    position: relative;
    z-index: 3;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-title{
    
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* typing animation align to left */

.hero-title h1{
    font-family: $font-primary;
    white-space: wrap!important;
    font-weight: 400;
    font-size: 100px;
    @include media-max("md"){
        font-size: 15vw;
    }
}

.hero-title h3{
    font-family: $font-secondary;
    max-width: 95vw;
       @include media-max("sm"){
        font-size:6vw ;
    }
}


.title-buttons > button, .title-buttons a{
    min-width: fit-content;
    
    margin: 2.5% 3%;
    text-shadow: 0 0 20px white;
   
}


/* mobile */

