#ProjectsSection{
    
    text-align: center;
    background: $linear-right-primary;
   
    font-weight: 300;
    .projects-container{
       align-items: center;
       height: 70%;
       
    }
}