#skills-section{
    
   
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // @media (max-width:767px){
    //   justify-content: flex-start;
    //   gap: 5%;
    // }
  
    .title-col{
      background-color: aliceblue;
      .title-col-content{
        
        // #d1e7dd
        // content div from function 
          > div{
            p,h6{color:rgba(0, 0, 0, 0.571);}
          max-width: 85%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 5%;
          min-height: 150px;
          align-items: center;
         
          .play-quit-btn{
            min-width: fit-content;
            width: 95px;
            margin: 0 0.5rem;
          }

        }
     

      }
    }
    .skills-col{ background-color: $dark;}
    .skills-container{
      border-radius: 0;
      background-color: $dark;
      border: none;   
      display: flex;
      flex-wrap: wrap;
      color: rgb(255, 255, 255);
     @include media-max("lg"){
      color: black;
      background-color: aliceblue!important;
     }
      box-shadow: none;
      .skill-div{
        margin: 2% auto;
        width: 70%;
        
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-left: 0; 
        
        img{height: 60px; width: 60px;}
        span{
          width: 42%; 
          
          text-align: left;
          white-space: nowrap;
        }
      }  
      @media (max-width: 768px){
        .skill-div{
           margin: 2% auto;
          img{height: 55px; width:55px;}
          span{font-size: small; width: 50%;}
        }
      }
      @media (max-width: 576px) {
        .skill-div{
          min-width: fit-content;
          margin: 10% auto;
          img{height: 6vw; width: 6vw;}
          span{font-size: smaller;width: 60px;}
        }
      }
      
    }
}

// mobile alignment


.skill-section-grid{
  @include media-max("lg"){
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  .title-col{
    grid-row: 3/3;
    display: block;
  }
  .game-controls-col{
    grid-row: 2/2;
    background-color: $dark!important;
  }
  .title-col-content-game{
    p,h6,span{color: white!important;}
  }
  }
}
