#skills-section{
text-align: center;
.skills-section-game-is-on{
  background-color: $dark!important;
}

.skill-section-grid{
  @include media-max("lg"){
    
  display: grid;
  // gap: 8%;
  grid-template-columns: 1;
  grid-template-rows: 0.25fr 1fr 1fr;
  background-color: aliceblue;
  .title-col{
    grid-row: 3/3;
    display: block;
    justify-content: flex-start;
  }
  .skills-col{
    background-color: aliceblue;
    height: fit-content;
  }
  .skills-col-game-on{
      background-color: $dark!important;
    }
  .game-controls-col{
    grid-row: 2/2;
    background-color: $dark!important;
  }
  .title-col-content-game{
    p,h6,span{color: white!important;}
  }
  }
}

    .title-col{
      background-color: aliceblue;
    justify-content: center;
      .title-col-content{
        // content div from function 
          > div{
            p,h6{color:rgba(0, 0, 0, 0.746);}
          max-width: 85%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 5%;
          min-height: 150px;
          align-items: center;
            .play-icon{
              font-size: 40px!important;
              @include media-min("lg"){
                font-size: 70px!important;
              }
            }
          .play-quit-btn{
            min-width: fit-content;
            width: 95px;
            margin: 0 0.5rem;
          }

        }
     

      }
    }
    .skills-col{ 
      background-color: $dark;
      display: flex;
      align-items: center;
    }
    .skills-container{
      border-radius: 0;
      background-color: $dark;
      border: none;   
      display: flex;

      margin: 0 auto;
      flex-wrap: wrap;
      color: rgb(255, 255, 255);
      box-shadow: none;
     @include media-max("lg"){
      color: black;
      background-color: aliceblue!important;
     }
      
      .skill-div{
    
        width: 70%;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-left: 0; 
        
        img{height: 60px; width: 60px;}
        span{
          width: 42%; 
          
          text-align: left;
          white-space: nowrap;
        }
        @include media-max("lg"){
        img{height: 5vw; width: 5vw;}
      }
      }  
      
      @media (max-width: 768px){
        .skill-div{
          margin: 0 auto;
          margin-bottom: 2%;
           
        
          span{font-size: small; width: 50%;}
        }
      }
      @media (max-width: 576px) {
        .skill-div{
          min-width: fit-content;
          margin: 2% auto;
          img{height: 6vw; width: 6vw;}
          span{font-size: smaller;width: 60px;}
        }
      }
      
    }
}

// mobile alignment


