#hero-section{
    background-image: $heroSection-background;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.hero-section-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-title{
    
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* typing animation align to left */

.hero-title h1 {
    font-size: 7rem;
}


.hero-title h2{
    font-size: 4rem;
    text-shadow: 0 0 10px white;
}

.hero-title h4{
    font-size: 1.8rem;
}

.title-buttons > button, .title-buttons a{
    max-width: 40%;
    margin: 2.5% 5%;
    text-shadow: 0 0 20px white;
   
}


/* mobile */
@media screen and (max-width: 767px) {
  


    .hero-title h2 {
      
        text-shadow: 0 0 5px white;
    }

}