
section{
    height: 100vh;
        max-height: 100vh;
        overflow: hidden;
}

@include media-min("sm"){
    html{
    scroll-snap-type: y mandatory!important;
}

   section{
        scroll-behavior: smooth;
        scroll-snap-align: start;
        
    }
}
