h1{
    font-size: $base-res-font-size * 7;
}
h2{
    font-size: $base-res-font-size * 4;
}
h3{
    font-size: $base-res-font-size * 2;
}
h4{
    font-size: $base-res-font-size;
}


@media screen and (max-width: 767px) {
    h1 {
        font-size: 17vw;
    }

   h2 {
        font-size: 6vw;
    }

   h4 {
        font-size: 4vw;
    }
}