
// font sizes / Headers 

.section-heading{
     font-family: 'Poppins', sans-serif;
    font-size: $base-font-size * 3;
   @include media-min("sm"){
        font-size: $base-font-size * 4;
    }
    @include media-min("md"){
         font-size: $base-font-size * 5;
    }
}