@use "sass:math";

.royal-container {
    width: 100%;
    max-width: 1300px!important;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 960px,
    "xl": 1200px,
);

@each $k,$v in $breakpoints{
    @media (min-width: #{$v}) {
        .col-#{$k}-05{
            flex: 0 0 auto;
            width: math.div(100%,24);
        }
    }
}

@debug $breakpoints;