@use "sass:math";

.royal-container {
    width: 100%;
    max-width: 1300px!important;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1440px
);


@mixin media-min($size){
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}
@mixin media-max($size){
    @media (max-width: map-get($breakpoints, $size)) {
        @content;
    }
}




@each $k,$v in $breakpoints{
    
    @media (min-width: #{$v}) {
        .col-#{$k}-08{
            flex: 0 0 auto;
            width: math.div(100%,15);
        }
    }
}

