body,html{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





//variables and functions
@import "variables";

// base and layout 
@import "base";

// colors


// components(btn,card,navbar,etc...);
@import "./components/navbar-drawer";
@import "./components/card-center";

// pages/sections
@import "./sections/hero.scss";
@import "./sections/about.scss";


//utilities (margin, padding , opacity,etc ...)


// other libraries
@import "../library/royal_sass";


