@import url("../../css/variables.css");

#hero-section{
    background-image: var(--heroSection-background);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.hero-section-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-title{
    
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* typing animation align to left */

.hero-title h1 {
    font-size: 7rem;
}


.hero-title h2{
    font-size: 4rem;
    text-shadow: 0 0 10px white;
}

.hero-title h4{
    font-size: 1.8rem;
}

.title-buttons > button, .title-buttons a{
    max-width: 40%;
    margin: 2.5% 5%;
    text-shadow: 0 0 20px white;
   
}


/* mobile */
@media screen and (max-width: 767px) {
    .hero-title h1 {
        font-size: 17vw;
    }


    .hero-title h2 {
        font-size: 6vw;
        text-shadow: 0 0 5px white;
    }

    .hero-title h4 {
        font-size: 4vw;
    }
}

/* .glow-btn{
    background-color: transparent;
    border: 1px groove  orange;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgb(255, 191, 0);
} */

/* projects teaser block */

/* .projects-teaser{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 1rem;
}
.projects-teaser img{
    max-height: 100%;
        max-width: 100%;

    }

.projects-teaser .project-video-container {

}

.projects-teaser video{
    height: 100%;
    width: 100%;
    color: white;
    object-fit: fill;
}
 */

