@import "../../css/variables.css";

/* Mobile */
@media (max-width:995px) {
    .about-container{
        
    }
}

#about{
    background-color: var(--secondary-background-color)!important;
    padding: 1rem;
}

.about-container{
display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 0!important;
    text-align: center;
}
.about-container > div{
padding: 3rem 0 ;
}

.about-container .image-col{
background-color: var(--profile-container-bg-color);
border-radius: 10px;
border: 1px solid black;
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
}
 .image-col > img {
    border-radius: 30px;
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto 2rem ;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: inherit;
  margin-top: 1rem;
}



.about-container .about-description-col {
   
   
}
.about-container .about-description-col h2 {
    font-size: 4vw;
    
    margin: 0 ;
}
.about-container .about-description-col p{
    line-height: 1.8;
    font-size: large;
    max-width: 90%;
    margin: auto;
    padding: 20px 10px;
}

.about-container .about-description-col button{
    min-width: 170px;
    margin: auto 1rem;
}

