
:root{
    --button-color: #db8d34
}

.glow-btn {
    background-color: transparent;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--button-color);
    cursor: pointer;
    color: #fff;
    transition: box-shadow 0.3s ease;

}

.glow-btn:hover:hover {
    box-shadow: 0 0 20px 4px var(--button-color);
    background-color: var(--button-color);
}