.drawer-navbar{
    background-image: url("/public/media/images/navbar_stripes-blue.png")!important;
    background-repeat: no-repeat;
   
}

@media screen and (max-width:767px) {
    .drawer-navbar{
background-size: contain;
    }
    
}

.navbar-toggler{
    border: black 1px solid;
    font-size: small;
 
}




.offcanvas{
    background-color: rgb(81, 81, 81);
    color: white;
}

.offcanvas .nav-link, .offcanvas-title{
    color: white;
    
}

.nav-link{
    opacity: 0.7;
    font-size: large;
    padding: 3% 0;
}

.nav-link:hover{
    opacity: 1;
}



@media screen and (min-width: 768px) {
    .nav-link{
        color: black!important;
        padding: 8px;
    }
        .navbar-nav {
            gap: 3%;
        }

}



