:root {
    --navbar-image-color: #0393A3;
    --secondary-background-color: #153243;
    --glowing-button-color: #0393A3;
    --profile-container-bg-color: #0F7784;
    --heroSection-background: url("/public/media/images/hero-bg.png");
}