.drawer-navbar{
    background-image: $navbar-image;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute!important;
    top: 0;

}

@media screen and (max-width:767px) {
    .drawer-navbar{
background-size: contain;
    }
    
}

.navbar-toggler{
    border: black 1px solid;
    font-size: small;
 
}




.offcanvas{
    background-color: rgb(81, 81, 81)!important;
    color: white!important;
}



.nav-link{
    opacity: 0.7;
    font-size: large;
    padding: 3% 0;
}

.nav-link:hover{
    opacity: 1;
}



@media screen and (min-width: 768px) {
    .nav-link{
        color: black!important;
        padding: 8px;
    }
        .navbar-nav {
            gap: 3%;
        }

}



